name: 'Gitbook-Action'

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout action
      uses: actions/checkout@v1

    # example1
    - name: Gitbook Action
      uses: zhaozhongrui/gitbook-action@master
      with:
        token: ${{ secrets.TOKEN }}
        time_zone: Asia/Shanghai
        source_dir: gitbook-source
        source_edit_time: true
        publish_nojekyll: true
        publish_commit_message: ${{ github.event.head_commit.message }}
        publish_commit_history: false
        publish_push_force: false


